* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #323a46;
    margin: 0;
    padding: 0;
}

/* ------------------SIDEBAR-left-----------------*/

.music-mp3 {
    font-family: Arial, Helvetica, sans-serif; /* Sử dụng phông chữ tương tự */
    font-size: 28px; /* Kích thước chữ */
    color: #69cebd; /* Màu chữ */
    text-transform: uppercase; /* Chuyển đổi chữ thành in hoa */
    letter-spacing: 2px; /* Khoảng cách giữa các ký tự */
    font-weight: bold; /* Độ đậm của chữ */
    text-shadow: 2px 2px 2px rgba(243, 229, 229, 0.5); /* Hiệu ứng bóng đổ */
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    
}
  /* CSS cho container bao quanh sidebar và content */
  .container {
    display: flex; /* Hiển thị các phần tử con theo chiều ngang */
}

/* CSS cho sidebar-left */
.sidebar-left {
    position: fixed; /* Cố định sidebar */
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%; /* Độ rộng của sidebar */
    background-color: #533464;
    overflow: hidden; /* Ngăn thanh cuộn xuất hiện */
}

/* CSS cho phần nội dung chính */
.content {
    flex: 1; /* Để nội dung chính tự động mở rộng để lấp đầy không gian trống */
    margin-left: 15%; /* Độ rộng của sidebar-left */
    padding: 20px; /* Khoảng đệm bên phải để tránh che khuất */
}
.sidebar-left .music-mp3 {
    line-height: 60px;
    padding-top: 12px;
}

#sidebar-left-1 {
    font-size: 28px;
    text-align: center;
}
.lemon {
    border-bottom: 1px solid #ffffff5e;
}
.lemon li {
    padding: 10px;
    line-height: 30px;
}
.lemon li a {
    text-decoration: none;
    color: #ffffffcb;
    
}
/* Sửa đổi màu nền khi hover */
.lemon li:hover {
    color: white;
}

/* Sửa đổi màu chữ khi hover */
.lemon li:hover a {
    color: #fff;
    display: block;
}
.lemon .hidden {
    background-color: rgb(148, 29, 150);
    border-left: 6px solid rgb(68, 0, 62);
}
.lemon ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
/* CSS cho biểu tượng mũi tên ngang và biểu tượng phát nhạc */
.play-icon-li .play-icon {
    margin-left: 5px; /* Khoảng cách giữa biểu tượng và văn bản */
    display: none; /* Ẩn ban đầu */
    transform: rotate(0deg); /* Ban đầu biểu tượng mũi tên ngang */
    transition: transform 0.3s ease; /* Hiệu ứng chuyển đổi */
}

/* CSS khi hover vào li (mục "Zing Chat" và "Radio") */
.play-icon-li:hover .play-icon {
    display: inline; /* Hiển thị biểu tượng */
    transform: rotate(90deg); /* Quay biểu tượng mũi tên ngang */
}


.sion li a {
    text-decoration: none;
    color: #ffffffcb;
}
.sion li {
    padding: 10px;
    line-height: 30px;
}
.sion li:hover {
    color: white;
}
.sion li:hover a {
    color: #fff;
    display: block;
}
.sion ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.kame {
    padding: 3px 10px 15px 10px;
    background-color: #c433f0;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
    margin-top: 25px;
}
.kame p {
    color: #fff;
    text-align: center;
}
.kame a {
   text-decoration: none;
   color: #fff;
}
.kame #login {
    text-align: center;
    border-radius: 15px;
    background-color: #c433f0;
    width: 160px;
    line-height: 30px;
    margin-left: 24px;
    margin-top: 0px;
    border: 1px solid #fff;
}
.playlist-new {
    border-top: 1px solid #ffffff5e ;
    margin-top: 345px;
}
.playlist-new a {
    text-decoration: none;
    color: #ffffffcb;
}
.playlist-new ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
}

.playlist-new li:hover {
    background-color: #533464;
}   
.playlist-new li:hover a{
    color: #fff;
    display: block;
}
/*---------------------content-------------------*/
/* --------------------CSS cho mục tìm kiếm --------------------------*/

.search-box {  
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    width: 500px; /* Độ rộng của thanh tìm kiếm */
    position: relative; /* Đặt vị trí tương đối để các phần tử con có thể được đặt tương đối đối với nó */
}

.search-input {
    border: none;
    outline: none;
    width: 100%; /* Độ rộng của input bên trong thanh tìm kiếm */
}
.header {
    margin-top: 13px;
    
}
.search-container {
    display: flex;
    position: fixed; /* Đặt vị trí cố định */
    top: 0; /* Vị trí cố định ở phía trên */
    left: 0; /* Vị trí cố định ở phía trái */
    width: 100%; /* Chiều rộng 100% để nó che khuất toàn bộ màn hình */
    z-index: 999; /* Đảm bảo phần tử này nằm trên các phần tử khác */
    margin-left: 500px;
    margin-top: 25px;
}

.search-icon {
    color: #333;
    position: absolute; /* Đặt vị trí tuyệt đối để đặt kính lúp */
    right: 10px; /* Độ rộng lề bên phải của kính lúp */
    top: 50%; /* Đặt vị trí theo chiều cao giữa của kính lúp */
    transform: translateY(-50%); /* Dịch chuyển lên để căn giữa kính lúp theo chiều dọc */
}
.login-1 button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
}
.search-container .login-1 #login-2 {
    background-color: #b65fd8;
    margin-right: 10px;
}
.search-container .login-1 #login-2 a{
    text-decoration: none;
    color: #333;
}
.search-container .login-1 button {
    background-color: rgb(12, 146, 163);
}
.search-container .login-1 button a {
    text-decoration: none;
    color: #fff;
}
.login-1  {
    margin-left: 400px;
}
/*---------------mục bài hát----------------*/
.content .playlist {
    margin-top: 120px;
    margin-left: 40px;
}
.playlist .playlist-1 {
    margin-bottom: 20px;
    padding-bottom: 15px;
}
/* CSS cho #demo và #demo-1 */
#demo,
#demo-1 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}

#demo:hover,
#demo-1:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}

#demo .second-1,
#demo .second-2,
#demo-1 .second-3,
#demo-2 .second-5,
#demo-2 .second-6,
#demo-3 .second-7,
#demo-3 .second-8,
#demo-4 .second-9,
#demo-4 .second-10,
#demo-5 .second-11,
#demo-5 .second-12,
#demo-6 .second-13,
#demo-6 .second-14,
#demo-7 .second-15,
#demo-7 .second-16,
#demo-8 .second-17,
#demo-8 .second-18,
#demo-9 .second-19,
#demo-9 .second-20,
#demo-10 .second-21,
#demo-10 .second-22,
#demo-11 .second-23,
#demo-11 .second-24,
#demo-12 .second-25,
#demo-12 .second-26,
#demo-13 .second-27,
#demo-13 .second-28,
#demo-14 .second-29,
#demo-14 .second-30,
#demo-15 .second-31,
#demo-15 .second-32,
#demo-16 .second-33,
#demo-16 .second-34,
#demo-17 .second-35,
#demo-17 .second-36,
#demo-18 .second-37,
#demo-18 .second-38,
#demo-19 .second-39,
#demo-19 .second-40,
#demo-1 .second-4 {
    font-size: 17px;
}

#demo .second-2 {
    margin-left: 360px;
}
#demo-1 .second-4 {
    margin-left: 378px;
}
#demo-2 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-2:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-2 .second-6 {
    margin-left: 437px;
}

#demo-3 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-3:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-3 .second-8 {
    margin-left: 380px;
}

#demo-4 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-4:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-4 .second-10 {
    margin-left: 383px;
}

#demo-5 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-5:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-5 .second-12 {
    margin-left: 390px;
}

#demo-6 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-6:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-6 .second-14 {
    margin-left: 370px;
}

#demo-7 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-7:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-7 .second-16 {
    margin-left: 383px;
}

#demo-8 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-8:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-8 .second-18 {
    margin-left: 402px;
}

#demo-9 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-9:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-9 .second-20 {
    margin-left: 365px;
}

#demo-10{
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-10:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-10 .second-22 {
    margin-left: 328px;
}

#demo-11 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-11:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-11 .second-24 {
    margin-left: 303px;
}

#demo-12 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-12:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-12 .second-26 {
    margin-left: 422px;
}

#demo-13 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-13:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-13 .second-28{
    margin-left: 360px;
}

#demo-14 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-14:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-14 .second-30 {
    margin-left: 287px;
}

#demo-15 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-15:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-15 .second-32 {
    margin-left: 445px;
}

#demo-16 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-16:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-16 .second-34{
    margin-left: 408px;
}

#demo-17 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-17:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-17 .second-36 {
    margin-left: 396px;
}

#demo-18 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-18:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-18 .second-38 {
    margin-left: 408px;
}

#demo-19 {
    display: flex;
    align-items: center;
    transition: background-color 0.3s; /* Thêm hiệu ứng màu nền */
    margin-bottom: 10px;
    min-height: 100px;
}
#demo-19:hover {
    background-color: rgb(148, 29, 150);
    border-radius: 8px;
    cursor: pointer;
}
#demo-19 .second-40 {
    margin-left: 343px;
}

/*-------------------------trình phát nhạc-----------------*/
.temo {
    color: #ffffffd7;
    margin-top: 100px;
    margin-left: 40px;
}
*:focus
{
    outline: none;
}

.content #app-cover
{
    margin-top: 130px;
    right: 0;
    left: 0;
    width: 530px;
    height: 100px;
    margin-left: 470px;
    margin-bottom: 150px;
}
#player
{
    position: relative;
    height: 100%;
    z-index: 3;
}

#player-track
{
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    padding: 13px 22px 10px 184px;
    background-color: #fff7f7;
    border-radius: 15px 15px 0 0;
    -webkit-transition: 0.3s ease top;
    transition: 0.3s ease top;
    z-index: 1;
}

    #player-track.active
    {
        top: -92px;
    }

#album-name
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    color: #54576f;
    font-size: 17px;
    font-weight: bold;
}

#track-name
{
    color: #acaebd;
    font-size: 13px;
    margin: 2px 0 13px 0;
}

#track-time
{
    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
}

#current-time
{
    float: left;
}

#track-length
{
    float: right;
}

#current-time, #track-length
{
    color: transparent;
    font-size: 11px;
    background-color: #ffe8ee;
    border-radius: 10px;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
}

#track-time.active #current-time, #track-time.active #track-length
{
    color: #f86d92;
    background-color: transparent;
}

#s-area, #seek-bar
{
    position: relative;
    height: 4px;
    border-radius: 4px;
}

#s-area
{
    background-color:#ffe8ee;
    cursor: pointer;
}

#ins-time
{
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
	display:none;
}

#s-hover
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#ins-time, #s-hover
{
    background-color: #3b3d50;
}

#seek-bar
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #fd6d94;
    -webkit-transition: 0.2s ease width;
    transition: 0.2s ease width;
    z-index: 1;
}

#player-content
{
    position: relative;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 30px 80px #656565;
    border-radius: 15px;
    z-index: 2;
}

#album-art
{
    position: absolute;
    top: -40px;
    width: 115px;
    height: 115px;
    margin-left: 40px;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px #fff;
    border-radius: 50%;
    overflow: hidden;
}

#album-art.active
{
    top: -60px;
    box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
}

#album-art:before
{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2;
}

#album-art img
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

#album-art img.active
{
    opacity: 1;
    z-index: 1;
}

#album-art.active img.active
{
    z-index: 1;
    -webkit-animation: rotateAlbumArt 3s linear 0s infinite forwards;
            animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@-webkit-keyframes rotateAlbumArt
{
    0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
    100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

@keyframes rotateAlbumArt
{
    0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
    100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

#buffer-box
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
}

#album-art img, #buffer-box
{
    -webkit-transition: 0.1s linear all;
    transition: 0.1s linear all;
}

#album-art.buffering img
{
    opacity: 0.25;
}

#album-art.buffering img.active
{
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box
{
    opacity: 1;
}

#player-controls
{
    width: 250px;
    height: 100%;
    margin: 0 5px 0 141px;
    float: right;
    overflow: hidden;
}

.control
{
    width: 33.333%;
    float: left;
    padding: 12px ;
    margin-top: 16px;
}

.button
{
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.button i
{
    display: block;
    color: #d6dee7;
    font-size: 26px;
    text-align: center;
    line-height: 1;
}

.button, .button i
{
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.button:hover
{
    background-color: #d6d6de;
}

.button:hover i
{
    color: #fff;
}
#next-button {
    text-align: center;
}
